@import '~bulma/sass/utilities/_all.sass';

.categoryTags {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
}

.filtersWrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--nav-bg-color);
    border-radius: 4px;
    height: fit-content;
}

@include mobile {
    .filtersWrap {
        margin-left: 0;
        margin-right: 0;
    }
}

@include touch {
    .filtersWrap {
        margin-bottom: 15px;
        padding: 1.5rem 0.5rem;
    }
}