@import '~bulma/sass/utilities/_all.sass';

.tagButton {
    font-weight: 800;
    color: var(--bold-txt);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: fit-content;
    white-space: normal;
    background-color: var(--card-bg-color);
    border: 0;
    cursor: pointer;
    min-height: 2.5em;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    outline: none;
    text-transform: uppercase;
    margin: 5px;
    vertical-align: middle;

    &:hover {
        background-color: var(--card-hover-bg-color);
    }
}

.selected {
    color: var(--rustyred);
    background-color: var(--card-hover-bg-color);
}

.emoji {
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;

    & img {
        vertical-align: middle;
    }
}

@include mobile {
    .tagButton {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}