.table {
    text-align: center;
    width: 100%;
    overflow: scroll;
}
.table td {
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--p-txt-color);
    background-color: var(--card-bg-color);
    border: solid var(--bg-color) 2px;
}

.table th {
    padding-left: 10px;
    padding-right: 10px;
    border: solid var(--bg-color) 2px;
}

.ammoImage {
    width: 32px;
    margin-right: 10px;
}

.itemCell {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}