$themes: (
    light: (
        'bg-color': #ffffff,
        'nav-bg-color': #f2f2f2,
        'nav-txt-color': #414c5a,
        'nav-txt-hover': #000000,
        'nav-burger-color': #414c5a,
        'nav-item-hover-bg': #E0E0E0,
        'links-color': #cd412b,
        'title-color': rgba(30,30,30,.9),
        'subtitle-color': #414c5a,
        'card-bg-color': #f2f2f2,
        'card-hover-bg-color': #d6d6d6,
        'p-txt-color': #23272A,
        'logoURL': url(../images/lootcordlogodark.png),
        'hero-bg-color': #f2f2f2,
        'hero-txt-color': rgba(30,30,30,0.9),
        'blurple': #5865F2,
        'rustyred': #cd412b,
        'dark-color': #363636,
        'dark-invert': #ffffff,
        'bold-txt': #363636,
        'input-bg-color': #E3E5E8,
        'input-icon-color': #737475,
        'input-icon-active': #23272A,
        'input-disabled-bg-color': #E5E7EA,
        'code-txt-color': #000000,
        'code-bg-color': #f2f2f2
    ),
    dark: (
        'bg-color': #443b6e,
        'nav-bg-color': #282342,
        'nav-txt-color': rgba(255,255,255,.6),
        'nav-txt-hover': rgba(255,255,255,.75),
        'nav-burger-color': rgba(255,255,255,.5),
        'nav-item-hover-bg': #1A1C1E,
        'links-color': #FF7224,
        'title-color': #ffffff,
        'subtitle-color': #B1B3B4,
        'card-bg-color': #292b2f,
        'card-hover-bg-color': #26282B,
        'p-txt-color': #e5e5e5,
        'logoURL': url(../images/lootcordlogowhite.png),
        'hero-bg-color': #282342,
        'hero-txt-color': #ffffff,
        'blurple': #5865F2,
        'rustyred': #FF7224,
        'dark-color': #ffffff,
        'dark-invert': #000000,
        'bold-txt': #ffffff,
        'input-bg-color': #23272A,
        'input-icon-color': #B1B3B4,
        'input-icon-active': #e5e5e5,
        'input-disabled-bg-color': #262A2D,
        'code-txt-color': #ffffff,
        'code-bg-color': #202225
    )
);

@each $name, $map in $themes {
    .theme-#{$name} {
        @each $key, $value in $map {
            --#{$key}: #{$value};
        }
    }
}
