@charset 'utf-8';

// Light and dark theme variables
@import './_themes.scss';

// Set variables
@import './_variables.scss';

// Import Bulma
@import '~bulma/bulma.sass';

.content {
    .tag, .number {
        display: inline;
        padding: inherit;
        font-size: inherit;
        line-height: inherit;
        text-align: inherit;
        vertical-align: inherit;
        border-radius: inherit;
        font-weight: inherit;
        white-space: inherit;
        background: inherit;
        margin: inherit;
    }

    h1, h2, h3, h4, h5 {
        font-family: $title-family
    }

    p {
        margin-bottom: 0 !important;
    }

    li {
        color: var(--p-txt-color);
    }
}

body {
    background-color: var(--nav-bg-color);
}

span:not(.token) {
    color: var(--p-txt-color);
}

span:not(.token).rustyred {
    color: var(--rustyred);
}

span:not(.token).blurple {
    color: var(--blurple);
}

p:not(.token) {
    color: var(--p-txt-color);
}

a.link:hover {
    text-decoration: underline;
}