@charset 'utf-8';

@import './themes.scss';

// Import variables
@import './variables.scss';

// Import bulma
@import '~bulma/bulma.sass';

.content {
    .tag, .number {
        display: inline;
        padding: inherit;
        font-size: inherit;
        line-height: inherit;
        text-align: inherit;
        vertical-align: inherit;
        border-radius: inherit;
        font-weight: inherit;
        white-space: inherit;
        background: inherit;
        margin: inherit;
    }

    h1, h2, h3, h4, h5 {
        font-family: $title-family
    }
}

body {
    background-color: var(--nav-bg-color);
}

span {
    color: var(--p-txt-color);
}

p {
    color: var(--p-txt-color);
}

a.link:hover {
    text-decoration: underline;
}