@charset 'utf-8';

// Light and dark theme variables
@import './_themes.scss';

// Set variables
@import './_variables.scss';

// Import Bulma
@import '~bulma/bulma.sass';

.content {
    .tag, .number {
        display: inline;
        padding: inherit;
        font-size: inherit;
        line-height: inherit;
        text-align: inherit;
        vertical-align: inherit;
        border-radius: inherit;
        font-weight: inherit;
        white-space: inherit;
        background: inherit;
        margin: inherit;
    }

    a {
        text-decoration: underline;

        &:hover {
            filter: brightness(1.5);
        }
    }

    h1, h2, h3, h4, h5 {
        font-family: $title-family;
    }

    h2 {
        font-weight: 600;
        color: var(--p-txt-color);
    }

    h3, h4, h5 {
        font-weight: 600;
        color: var(--subtitle-color);
    }

    li {
        color: var(--p-txt-color);
    }

    table {
        color: var(--p-txt-color);
    }
}

body {
    background-color: var(--nav-bg-color);
}

.autolinkHeader svg {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    margin-top: -4px;
}

.autolinkHeader.after {
    position: absolute;
}

.hideHeaders .autolinkHeader {
    display: none !important;
}

span:not(.token) {
    color: var(--p-txt-color);
}

span:not(.token).rustyred {
    color: var(--rustyred);
}

span:not(.token).blurple {
    color: var(--blurple);
}

p:not(.token) {
    color: var(--p-txt-color);
}

code {
    background-color: var(--code-bg-color);
    color: var(--code-txt-color);
    border-radius: 4px;
    padding: 5px;
    line-height: 2rem;
}

a.link {
    text-decoration: underline;

    &:hover {
        filter: brightness(1.5);
    }
}

.custom-block {
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;

    p {
        color: var(--p-txt-color);
    }

    &.is-danger {
        background: rgba(240, 71, 71, .1);
        border: 2px solid rgba(240, 71, 71, .5);
    }
    &.is-warning {
        background: rgba(250, 166, 26, .1);
        border: 2px solid rgba(250, 166, 26, .5);
    }
    &.is-info {
        background: rgba(114, 137, 218, .1);
        border: 2px solid rgba(114, 137, 218, .5);
    }
}