$title-family: "Open Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;

$body-family: "Open Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;

// navbar styles
$navbar-background-color: var(--nav-bg-color);
$navbar-item-color: var(--nav-txt-color);
$navbar-item-hover-color: var(--nav-txt-hover);
$navbar-burger-color: var(--nav-burger-color);
$navbar-item-hover-background-color: transparent;

// content styles
$content-heading-weight: 800;
$title-weight: 800;
$link: var(--links-color);
$link-hover: var(--links-color);
$title-color: var(--title-color);
$subtitle-color: var(--subtitle-color);
$content-heading-color: var(--title-color);