@import '~bulma/sass/utilities/_all.sass';

.guideWrap {
    background-color: var(--card-bg-color);
    border-radius: 4px;
    margin: 1rem;
    padding: 1rem;
    position: relative;
    overflow: hidden;

    &:hover {
        .icon {
            transform: translateX(5px);
        }
        .readButton {
            opacity: 1;
        }
    }
}

.title {
    color: var(--blurple);
}

.readButton {
    right: 0;
    bottom: 0;
    position: absolute;
    border-radius: 0;
    padding: 8px;
    background-color: var(--card-hover-bg-color);
    transition: opacity .2s;
    opacity: 0;
}

.btnText {
    vertical-align: middle;
    color: var(--nav-txt-color) !important;
}

.icon {
    margin-left: 8px;
    margin-right: 8px;
    vertical-align: middle !important;
    transition: transform .2s;
    color: var(--nav-txt-color);
}