@import '~bulma/sass/utilities/_all.sass';

.patronButton {
    max-height: none !important;
    border-radius: 4px;
    height: 36px;

    &:hover {
        filter: brightness(90%);
    }
}

.userItem {
    display: flex;
    flex-flow: row nowrap;
    align-items: center !important;
    padding: 0 !important;
}
.userAvatar {
    max-height: 30px !important;
    border-radius: 50%;
    margin-right: 8px;
    margin-left: 0.75rem;
}
.userArrow {
    margin-left: 8px;
    margin-right: 0.75rem;
    font-size: 1.3rem;
}
.username {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}
.linkButton {
    color: var(--nav-txt-color);
    background-color: var(--nav-item-bg);
    border: none;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;

    &:hover {
        color: var(--nav-txt-hover);
        background-color: var(--nav-item-hover-bg);
    }
}

.controlButton {
    font-size: 0.875rem;
}

.navBurger {
    background-color: transparent;
    border: none;
    outline: none;

    &:hover {
        color: var(--nav-burger-color);
    }
}

.navStyles {
    transition: background-color ease .5s;
}

.icon {
    right: 16px;
    font-size: 1.3rem;
    position: absolute;
}

.logoStyle {
    width: 171px;
    height: 28px;
    background-image: var(--logoURL);
}

@include desktop-only {
    .username {
        max-width: 120px;
    }
}

@include touch {
    .navMenu {
        box-shadow: 0 14px 16px rgba(10, 10, 10, 0.1);
    }

    .icon {
        right: 19px;
    }
    .userArrow {
        display: none !important;
    }
    .username {
        max-width: 60vw;
    }
    .linkButton {
        margin-left: 0.75rem;

        &:focus {
            background-color: transparent;
        }
    }
    .userAvatar {
        margin-left: 0;
    }
    .userDropdown {
        display: flex;
        flex-flow: row nowrap;

        &:hover {
            background-color: var(--nav-item-hover-bg);
        }
    }
}