@import '~bulma/sass/utilities/_all.sass';

.patronButton {
    max-height: none !important;
    border-radius: 4px;
    width: 148px;
    height: 36px;

    &:hover {
        filter: brightness(90%);
    }
}

.controlButton {
    font-size: 0.875rem;
}

.navBurger {
    background-color: transparent;
    border: none;
    outline: none;

    &:hover {
        color: var(--nav-burger-color);
    }
}

.navStyles {
    transition: background-color ease .5s;
}

.icon {
    right: 16px;
    font-size: 1.3rem;
    position: absolute;
}

.logoStyle {
    width: 200px;
    height: 28px;
    background-image: var(--logoURL);
}


@include touch {
    .navMenu {
        box-shadow: 0 14px 16px rgba(10, 10, 10, 0.1);
    }

    .icon {
        right: 19px;
    }
}