.patronButton {
    max-height: none !important;
    border-radius: 4px;
}

.controlButton {
    font-size: 0.875rem;
}

.navBurger {
    background-color: transparent;
    border: none;
    outline: none;

    &:hover {
        color: var(--nav-burger-color);
    }
}

.navMenu {
    box-shadow: none;
}

.navStyles {
    transition: background-color ease .5s;
}

.logoStyle {
    width: 200px;
    height: 28px;
    background-image: var(--logoURL);
}