@import '~bulma/sass/utilities/_all.sass';

.footerStyles {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--nav-bg-color);
    transition: background-color ease .5s;
    z-index: 29;
}

.listContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
}

.footerList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.footerList li {
    margin: .5rem;
}

.copyList {
    margin-bottom: 0;
}

@include tablet {
    .listContainer {
        flex-flow: row-reverse nowrap;
    }

    .footerList {
        margin-bottom: 0;
    }
}

@include mobile {
    .copyList {
        padding-top: 25px;
    }
}