@import '~bulma/sass/utilities/_all.sass';

.postContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #d6d6d6;
    border-radius: 5px;
    min-height: 100px;

    p {
        color: #393939;
    }

    &:hover {
        background-color: #c3c3c3;
    }
}

.image {
    display: none;
    margin-right: 10px;
}

@include tablet {
    .image {
        display: flex;
    }
}